* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}

.container {
    position: relative;
    top: 20px;
    margin: 15px;
}

.row {
    width: 100%;
}

.menu-title {
    text-align: center;
    margin-bottom: 20px;
}

.item {
    position: relative;
    top: 0px;
    margin: 15px;
    padding: 25px;
    border: 3px solid black;
    background: rgb(104, 124, 238);
}

.item_2 {
    position: relative;
    top: 0px;
    margin: 15px;
    padding: 25px;
    border: 3px solid black;
    background: white;
}

.item-title {
    position: absolute;
    top: -1px;
    right: -1px;
    background: salmon;
    color: blanchedalmond;
    padding: 7px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
}

.item p {
    margin-top: 18px;
    text-align: left;
    font-size: 150%;
}


/* Simple Responsive Framework. */


/*------ Desktop ------*/

@media (min-width: 992px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}


/*------ Tablet ------*/

@media (min-width: 768px) and (max-width: 991px) {
    .col-lg-4 {
        width: 50%;
        float: left;
    }
    .col-lg-tablet {
        width: 100%;
        float: left;
    }
}


/*------ Mobile ------*/

@media (max-width: 767px) {
    .col-lg-4 {
        width: 100%;
        float: left;
    }
}

.drop-zone {
    margin-top: 30px;
    width: auto;
    height: 300px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border: 4px dashed salmon;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

input[type=submit] {
    background-color: white;
    border: 2px dashed salmon;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

.get-zone {
    margin-top: 30px;
    width: auto;
    height: 300px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border: 4px dashed white;
    border-radius: 10px;
}