<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<style>
    #note{color: #444444}
    #result{font-weight: bold;}
    img{height:100%; width:100%; object-fit:cover;}
</style>
<html>

<head>
    <title>Implementation</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
</head>

<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <a class="logo" href="index.html">E056 DIP</a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="implement.html">Implementation</a></li>
        </ul>
    </nav>

    <!-- Heading -->
    <div id="heading">
        <h1>Implementation</h1>
    </div>

    <section class="wrapper">
        <div class="inner">
            <div class="highlights">
                <section>
                    <div class="content">
                        <header>
                            <h3 style="font-weight: bold;">Upload</h3>
                        </header>
                        <form method="post" enctype="multipart/form-data">
                            <div class="drop-zone">
                                <span class="drop-zone__prompt"><span id="note">Drop file here<br>or click to upload</span></span>
                                <input type="file" name="file" class="drop-zone__input" id="input-file">
                            </div>
                            <p><input type="button" value="Upload Image" name="submit" id="upload-file" onclick=predict()></p>

                            <script type="text/javascript">
                                const realFileBtn = document.getElementById("input-file");

                                document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
                                    const dropZoneElement = inputElement.closest(".drop-zone");

                                    dropZoneElement.addEventListener("click", (e) => {
                                        inputElement.click();
                                    });

                                    inputElement.addEventListener("change", (e) => {
                                        if (inputElement.files.length) {
                                            updateThumbnail(dropZoneElement, inputElement.files[0]);
                                        }
                                    });

                                    dropZoneElement.addEventListener("dragover", (e) => {
                                        e.preventDefault();
                                        dropZoneElement.classList.add("drop-zone--over");
                                    });

                                    ["dragleave", "dragend"].forEach((type) => {
                                        dropZoneElement.addEventListener(type, (e) => {
                                            dropZoneElement.classList.remove("drop-zone--over");
                                        });
                                    });

                                    dropZoneElement.addEventListener("drop", (e) => {
                                        e.preventDefault();

                                        if (e.dataTransfer.files.length) {
                                            inputElement.files = e.dataTransfer.files;
                                            updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
                                        }

                                        dropZoneElement.classList.remove("drop-zone--over");
                                    });
                                });

                                /**
                                 * Updates the thumbnail on a drop zone element.
                                 *
                                 * @param {HTMLElement} dropZoneElement
                                 * @param {File} file
                                 */

                                function updateThumbnail(dropZoneElement, file) {
                                    let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

                                    // First time - remove the prompt
                                    if (dropZoneElement.querySelector(".drop-zone__prompt")) {
                                        dropZoneElement.querySelector(".drop-zone__prompt").remove();
                                    }

                                    // First time - there is no thumbnail element, so lets create it
                                    if (!thumbnailElement) {
                                        thumbnailElement = document.createElement("div");
                                        thumbnailElement.classList.add("drop-zone__thumb");
                                        dropZoneElement.appendChild(thumbnailElement);
                                    }

                                    thumbnailElement.dataset.label = file.name;

                                    // Show thumbnail for image files
                                    if (file.type.startsWith("image/")) {
                                        const reader = new FileReader();

                                        reader.readAsDataURL(file);
                                        reader.onload = () => {
                                            thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
                                        };
                                    } else {
                                        alert("Please upload an image-type file.")
                                        thumbnailElement.style.backgroundImage = null;
                                        location.reload();
                                    }

                                }

                                let checkSize = function(threshold) {
                                    const file_size_raw = realFileBtn.files.item(0).size;
                                    const file_size = Math.round((file_size_raw / 1024));
                                    return file_size < threshold;
                                };


                                const uploadBtn = document.getElementById("upload-file");

                                uploadBtn.addEventListener("click", function() {
                                    if (realFileBtn.files.length > 0) {
                                        if (!checkSize(100)) {
                                            alert("File exceeds maximum memory allowance of 100kb.");
                                            realFileBtn.value = "";
                                            location.reload();
                                        } else {
                                            // Check extensions
                                            let ext = realFileBtn.value.split('.').pop();
                                            if (ext != "jpg" && ext != "jpeg") {
                                                alert("Invalid file type: " + ext + ". File must be either .jpg or .jpeg formats");
                                                realFileBtn.value = "";
                                                location.reload();
                                            } else {
                                                updateThumbnail(dropZoneElement, inputElement.files[0]);
                                            }
                                        }
                                    } else {
                                        alert("No file uploaded.")
                                        location.reload();
                                    }
                                });
                            </script>

                        </form>
                    </div>
                </section>
                <section>
                    <div class="content" id="predictions">
                        <header>
                            <h3>Prediction</h3>
                        </header>
                        <span><span id="result"></span></span>	
                        <div> <div id="predictions1"></div></div>
                        <div> <div id="predictions2"></div></div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <header>
                            <h3 style="font-weight: bold;">Details:</h3>
                        </header>
                        <form class="form-signin" method=post enctype=multipart/form-data>
                            <div id="Line">

                            </div>
                            <br>
                            <div>
                                <h3>
                                    <p> Model ● CSRNet <br>Dataset ● Shanghaitech<br>Accuracy ● MAE 10.6</p>
                                    <p style="font-weight: bold;"> Credits to:
                                    </p>
                                    <p>Shanghai Tech<br>leeyeehoo@Github<br>jaysondale@Github<br>colorlib</p>
                                </h3>
                            </div>
                            <br>
                            <br>

                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">



        </div>
    </section>

    <!-- Footer -->
    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="content">
                <section>
                    <h3>Thank you for your time.</h3>
                    <p>Throughout the 13 weeks, we have learned alot. Learning independently and struggling to strive for excellence.</p>
                    <p>At the end of the road, it is not about the end product, it is the journey that matters.</p>
                    <p>Our codes: <a href="https://github.com/harrickeyh/CrowdCounting"><i class="icon fa-github">&nbsp;</i>Github</a></p>
                </section>

            </div>

        </div>
    </footer>


    <!-- Scripts -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>
    <script src="https://unpkg.com/promise-polyfill@7.1.2/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/whatwg-fetch@2.0.4/fetch.js"></script>
    <script>
        function predict() {
            const formData = new FormData()
            formData.append('file',realFileBtn.files[0])
            fetch({{url_for('predict')|tojson}}, {method: 'POST', body: formData})
            .then(parseJSON)
            .then(addShow);
                            }
        
        function parseJSON(response) 
        {
            return response.json();
        }
        
        function addShow(data) 
        {
            document.getElementById('result').innerText= "Predicted Count is " + data[0];
            document.getElementById('predictions1').innerHTML='<img src="'+data[2]+'">'
            document.getElementById('predictions2').innerHTML='<img src="'+data[1]+'">'
        }
    </script>
</body>

</html>