<!DOCTYPE HTML>
<html>

<head>
    <title>E056 DIP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
</head>

<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <a class="logo" href="index.html">E056 DIP</a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="implement.html">Implementation</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>Design Innovation Project</h1>
            <p>Crowd Counting</p>
        </div>
        <video autoplay loop muted playsinline src="static/images/NTUImage.jpg"></video>
    </section>

    <!-- Highlights -->
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>Monitoring the Crowd of People by Deep Learning Enabled Visual Analytics</h2>
            </header>
            <section id="main" class="wrapper">
                <div class="inner">
                    <div class="content">
                        <p> The purpose of this project is to use deep learning enabled visual analytics to monitor the crowd of people and improve the accuracy and localization of the crowd count in a specific area. The team will be working with the pre-trained
                            models and existing dataset and performing visual analytics by using Convolution Neural Network (CNN) Method.</p>
                        <hr/>
                        <p> ● The team will design a simple user interface that allows the user to input the data (image).</p>
                        <p> ● We will be exploring the principles of at least one deep learning based crowd counting method to work on the dataset.</p>
                        <p> ● The output will be a density map showing the crowdedness of an area.</p>
                        <p> ● Model will be used to produce a density map to show the crowding/ concentration.</p>
                        <img src="static/images/graphPic.png" alt="" />
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper">
        <div class="inner">
            <h2>High-level Project and Product Requirements:</h2>
            <p>Using the data, we aim to train on the existing neural network models by using CNN and Tensorflow/PyTorch. Implementing more features such as headcounting. Design a GUI to enable users to upload their images on a web-based application which
                will be compatible on different browsers and devices.</p>
        </div>
    </section>

    <!-- Testimonials -->
    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>INTRODUCTION TO OUR TEAM</h2>
                <p>The team is divided into 3 teams. The GUI Team, Report Team and Machine Learning Team.</p>
            </header>
            <div class="testimonials">
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Hi my name is Justin!</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/images/justin.jpg" alt="" />
                            </div>
                            <p class="credit">- <strong>Justin</strong> <span>Secretary, GUI Team</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>My name is Zhong En!</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/images/spongebob.jpg" alt="" />
                            </div>
                            <p class="credit">- <strong>Chua Zhong En</strong> <span>ML Team</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Thats me! I'm Aidil. hehehee</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/images/aidil.jpg" alt="" />
                            </div>
                            <p class="credit">- <strong>Aidil</strong> <span>Report Team, GUI Team</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Hi my name is Sammy!</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/images/spongebob.jpg" alt="" />
                            </div>
                            <p class="credit">- <strong>Govil Samriddhi</strong> <span>Team Leader, Machine Learning Team</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Hello, I'm Si Ping!</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/images/spongebob.jpg" alt="" />
                            </div>
                            <p class="credit">- <strong>Lim Si Ping</strong> <span>Report Team, Machine Learning Team</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Me Ronn, Nice to meet you.</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/images/spongebob.jpg" alt="" />
                            </div>
                            <p class="credit">- <strong>Ronn Chan Jia Jun</strong> <span>GUI Team</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>The name is Ding Hao!</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/images/dinghao.jpeg" alt="" />
                            </div>
                            <p class="credit">- <strong>Tan Ding Hao</strong> <span>Report Team, Machine Learning Team</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Hello Im Runqiu!</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/images/spongebob.jpg" alt="" />
                            </div>
                            <p class="credit">- <strong>Geng Runqiu</strong> <span>Machine Learning Team</span></p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="content">
                        <blockquote>
                            <p>Harrick is my name.</p>
                        </blockquote>
                        <div class="author">
                            <div class="image">
                                <img src="static/images/spongebob.jpg" alt="" />
                            </div>
                            <p class="credit">- <strong>Er Yue Hui, Harrick</strong> <span>GUI Team</span></p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="content">
                <section>
                    <h3>Thank you for your time.</h3>
                    <p>Throughout the 13 weeks, we have learned alot. Learning independently and struggling to strive for excellence.</p>
                    <p>At the end of the road, it is not about the end product, it is the journey that matters.</p>
                    <p>Our codes: <a href="https://github.com/harrickeyh/CrowdCounting"><i class="icon fa-github">&nbsp;</i>Github</a></p>
                </section>

            </div>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>

</body>

</html>